.character-card {
  margin: 5vh 0;
  border: 1px solid grey;
  height: 40vh;
  width: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &--image {
    height: 20vh;
    width: 80%;
    object-fit: contain;
  }
}
