@use "./fonts" as *;
@use "./variables" as *;

.nav {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: rgb(135, 32, 32);
  color: white;

  &__checkboxes {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
  }

  &__title {
    font-family: $header-font;
  }
}
