* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

/* flags-a */

#flags-a,
#flags-b {
  width: 50%;
  margin: 5rem auto;
}

/* german flag */

#german-flag {
  display: flex;
  flex-direction: column;
  height: 25rem;
}

.german-black {
  background-color: black;
  height: 33.33%;
}

.german-red {
  background-color: red;
  height: 33.33%;
}

.german-yellow {
  background-color: yellow;
  height: 33.33%;
}

/* hungarian flag */

#hungary-flag {
  display: none;
}

.hungary-red {
  background-color: #cd2a3e;
  height: 33.33%;
}

.hungary-white {
  background-color: white;
  height: 33.33%;
}

.hungary-green {
  background-color: #436f4d;
  height: 33.33%;
}

/* flags-a hover rules */

#flags-a:hover #german-flag {
  display: none;
}

#flags-a:hover #hungary-flag {
  display: flex;
  flex-direction: column;
  height: 25rem;
}

/* flags-b */

/*  french flag */

#french-flag {
  display: flex;
  height: 25rem;
}

.french-blue {
  background-color: #0055a4;
  width: 33.33%;
}

.french-white {
  background-color: white;
  width: 33.33%;
}

.french-red {
  background-color: #ef4135;
  width: 33.33%;
}

/* Irish flag */

#irish-flag {
  display: none;
}

.irish-green {
  background-color: #169b62;
  width: 33.33%;
}

.irish-white {
  background-color: white;
  width: 33.33%;
}

.irish-orange {
  background-color: #ff883e;
  width: 33.33%;
}

/* flags-b hover rules */

#flags-b:hover #french-flag {
  display: none;
}

#flags-b:hover #irish-flag {
  display: flex;
  height: 25rem;
}

/* japanese flag */

#japanese-flag {
  display: flex;
  justify-items: center;
  width: 50%;
  margin: 5rem auto;
}

.japan-white {
  background-color: white;
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.japan-red {
  background-color: red;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
}
