@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:ital,wght@0,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #454c70;
  margin: 0 auto;
  width: 760px;
  max-width: 100%;
}

h1,
h3 {
  color: #1ab9f1;
  font-family: "Nunito", sans-serif;
}

h1 {
  margin-top: 1em;
}

h2 {
  color: #394166;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 2em 0 1em;
}

h3 {
  margin: 1.5em 0;
}

p {
  font-weight: 400;
  line-height: 1.5;
}

span {
  font-weight: 300;
  font-size: 0.95rem;
  font-style: italic;
}

strong {
  font-weight: 600;
}

button {
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  background-color: #394166;
  color: whitesmoke;
  border: 1px solid #394166;
  border-radius: 5px;
  padding: 0.75em 0;
  width: 60%;
  margin-top: 3em;

  &:hover {
    background-color: transparent;
    color: inherit;
    border: 1px solid #394166;
  }

  &.login {
    align-self: center;
    background-color: transparent;
    color: inherit;
    border: 1px solid #394166;
    border-radius: 5px;
    padding: 0.5em 1.2em;
    margin-top: 0;
    width: auto;

    &:hover {
      background-color: #394166;
      color: whitesmoke;
    }
  }
}

footer {
  margin-top: 5em;
  background-color: #fffcdd;
  padding: 1em;
  font-weight: 700;

  & ul {
    list-style: none;

    & li {
      padding: 1em 0;
    }
  }
}

.dada {
  &__container {
    margin: auto;
    width: 90%;
  }

  &__top-bar {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
  }

  &__time {
    font-weight: 600;
    color: black;
  }

  &__mobile-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
      width: 25%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &--logo {
      width: 50%;
      max-width: 150px;
    }
  }

  &__mockup-img {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }

  &__penguins {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5em 0;

    &:nth-child(1) > p {
      margin-top: 1.2em;
    }

    &:nth-child(4) > img {
      margin-right: 1em;
    }

    & p {
      text-align: left;
    }
  }
}
